BasedOnStyle: LLVM
DerivePointerAlignment: false
PointerAlignment: Left
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: MultiLine
InsertBraces: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 79
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: false
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: CaseInsensitive
WhitespaceSensitiveMacros:
  - 'HSD_ASSERT'
  - 'CHECK'
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<platform\.h>$'
    Priority: 1
    SortPriority: -7
  - Regex: '^<placeholder\.h>$'
    Priority: 1
    SortPriority: -6
  - Regex: '^"forward\.h"$'
    Priority: 2
    SortPriority: -5
  - Regex: '^".*/forward\.h"$'
    Priority: 2
    SortPriority: -4
  - Regex: '^<dolphin(/.*)?/forward\.h>$'
    Priority: 2
    SortPriority: -2
  - Regex: '^<(sysdolphin/)?baselib(/.*)?/forward\.h>$'
    Priority: 2
    SortPriority: -1
  - Regex: '^".*\.static\.h"$'
    Priority: 3
  - Regex: '^<(.*/)?forward\.h>$'
    Priority: 2
    SortPriority: -3
  - Regex: '^<[^/]*>$'
    Priority: 6
    SortPriority: 3
  - Regex: '^<dolphin/.*>$'
    Priority: 6
    SortPriority: 4
  - Regex: '^<(sysdolphin/)?baselib/.*>$'
    Priority: 6
    SortPriority: 5
  - Regex: '^<.*>$'
    Priority: 6
    SortPriority: 6
  - Regex: '^"[^/]*"$'
    Priority: 4
    SortPriority: 1
  - Regex: '^.*$'
    Priority: 5
    SortPriority: 2
