BasedOnStyle: LLVM
DerivePointerAlignment: False
PointerAlignment: Left
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: True
AllowShortIfStatementsOnASingleLine: False
IndentCaseLabels: False
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: False
SpacesInCStyleCastParentheses: False
SpaceAfterCStyleCast: True
Cpp11BracedListStyle: False 
