Diagnostics:
  Includes:
    AnalyzeAngledIncludes: true
  ClangTidy:
    Remove: bugprone-integer-division
---
If:
  PathMatch: .*\.dox
CompileFlags:
  Add: [-xc-header, -ferror-limit=0]
Diagnostics:
  Suppress: "*"
