# EditorConfig configuration for doldecomp/melee
# https://EditorConfig.org

# Top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[{*.s,*.c,*.h,*.dox,Doxyfile,LICENSE,COPYING,COPYING.LESSER}]
# clang-format handles indentation
indent_style = unset

[{*.yml,*.yaml,.clang-format,.clang-tidy,.clangd,*.nix,flake.lock,*.json,*.xml,*.iml}]
indent_size = 2

[Makefile]
indent_style = tab

[/config/GALE01/*.txt]
indent_style = tab

[*.go]
indent_style = tab

[*.md]
indent_style = unset

[*.sha1]
insert_final_newline = false
