# EditorConfig configuration for doldecomp/melee
# https://EditorConfig.org

# Top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.s]
indent_style = unset

[{*.yml,.clang-format}]
indent_size = 2

[Makefile]
indent_style = tab

[*.sha1]
insert_final_newline = false

[/config/GALE01/*.txt]
indent_style = tab

[*.go]
indent_style = tab
