# Compiler binaries
mwcc_compiler/

# Build artifacts
build/
*.o
*.elf
*.map
*.dol

# Temporary files
*.swp
*.dump

# IDE
.vscode/
build.bat
clean.bat

# Other
src/m2ctx.py
ctx.c

# Epilogue hack folder
epilogue/

__pycache__
*.exe
*.dll
*.bat
