# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Enforce Unix-style line endings.
text eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.s text
*.py text
*.mk text
Makefile text

# Never use CRLF for bash scripts
*.sh -crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
