# Auto detect text files and perform LF normalization
* text=auto

# Enforce Unix-style line endings.
text eol=lf

# Always use CRLF for Windows batch scripts
*.bat  text eol=crlf
# Never use CRLF for Unix bash scripts
*.sh -crlf

# decomp-toolkit writes files with LF
config/**/*.txt  text eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.s text
*.py text
*.mk text
Makefile text

# Denote all files that are truly binary and should not be modified.
*.png binary
