[workspace]
members = [
    "tools/config-dtk",
    "tools/dadosod",
    "tools/diff-symbols",
    "tools/fix-labels",
    "tools/flags",
    "tools/issues",
    "tools/replace-module",
    "tools/replace-symbols",
    "tools/rust-utils",
]
