-e file:tools/asm-differ#egg=asm-differ
argcomplete
beautifulsoup4
black
colorama
coverage
git+https://github.com/matt-kempster/m2c.git
GitPython
humanfriendly
isort
pcpp
pyelftools
Pygments
pyperclip
