name: "Check EditorConfig"

permissions: read-all

on:
  # avoids approving first time contributors
  pull_request_target:

jobs:
  tests:
    runs-on: ubuntu-22.04
    if: "!contains(github.event.pull_request.title, '[skip editorconfig]')"
    steps:
    - name: Get list of changed files from PR
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh api \
          repos/${{github.repository}}/pulls/${{github.event.number}}/files --paginate \
          | jq '.[] | select(.status != "removed") | .filename' \
          | grep -vE '^"(dump|build|expected|tools/(m2c|calcprogress))/.*?"$' \
          > "$HOME/changed_files"
    - name: print list of changed files
      run: |
        cat "$HOME/changed_files"
    - uses: actions/checkout@v3
      with:
        # pull_request_target checks out the base branch by default
        ref: ${{github.head_ref}}
    - uses: cachix/install-nix-action@v18
      with:
        # nixpkgs commit is pinned so that it doesn't break
        # editorconfig-checker 2.4.0
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/c473cc8714710179df205b153f4e9fa007107ff9.tar.gz
    - name: Check EditorConfig
      run: |
        cat "$HOME/changed_files" | nix-shell -p editorconfig-checker --run 'xargs -r editorconfig-checker -v -disable-indent-size'

        printf "These files were changed and checked by EditorConfig:\n\n%s" \
          "$(cat "$HOME/changed_files" | sed -e 's/"/`/g' -e 's/^/* /')" \
          >> "$GITHUB_STEP_SUMMARY"
    - if: ${{ failure() }}
      run: |
        echo "::error :: Hey! It looks like your changes don't follow our editorconfig settings. Read https://editorconfig.org/#download to configure your editor so you never see this error again."
