run-name: Publish GitHub pages
name: publish-pages

on:
  push:
  pull_request:

jobs:
  # Single deploy job since we're just deploying
  gen-pages:
    name: Generate pages
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE: ${{ github.repository }}/gen-pages:latest
    steps:
      - name: Checkout Melee repository
        uses: actions/checkout@v3

      - name: Log into container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull generator image
        run: docker pull ${{ env.REGISTRY }}/${{ env.IMAGE }}

      - name: Generate pages
        run: |
          docker run --rm \
            --volume "$PWD:/input:ro" \
            --volume /tmp/output:/output \
            ${{ env.REGISTRY }}/${{ env.IMAGE }}

      - name: Upload generated pages
        uses: actions/upload-artifact@v3
        with:
          name: pages
          path: /tmp/output

  deploy-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: gen-pages
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    concurrency:
      group: "pages"
      cancel-in-progress: true
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Download generated pages
        uses: actions/download-artifact@v3
        with:
          name: pages
          path: /tmp/output

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v1.0.7
        with:
          path: /tmp/output

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1.2.4
